* {
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 200px;
    text-align: center;
}

.text {
    font-size: 26px;
}

.section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

.s1 {
    /* background: black; */
    color: white;
    background-image: linear-gradient(180deg,rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 1) 100%), url('./13df90595a0f15ef61193d9e7c4f2c8a.jpg');
}

.s2 {
    color: white;
    background-image: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 1) 100%), url('./110b7dcf-ee5c-4762-9a8b-44db802d7635.jpg');
}

.s3 {
    color: white;
    background-image: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 1) 100%), url('./OIP.jpg');
}

.s4 {
    color: white;
    background-image: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 1) 100%), url('./04ef0cd4-ab20-42a1-ad18-45dd0692028f.jpg');
}

.white {
    background: white;
    color: black;
}

img {
    width: 100%;
}

.content {
    position: relative;
}


.content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    /* Высота тёмной области */
    background-color: #000;
    z-index: -1;
}

.content h1,
.content p {
    color: #fff;
    position: relative;
}


.left-image {
    margin-right: 20 px;
    display: block;
}
section {
    padding: 25px;
}

.m8 {
    width: 380px;
    padding: 15px;
    border-radius: 40px;

}

mark {
    background-color: yellow!important;
}

.m1 {
    width: 700px;
    padding: 50px;
    border: 200px;
    border-radius: 500px;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.carousel-inner {
    height: 550px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
}

.carousel_image {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.action {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 200ms;
}

.action:hover {
    color: rgb(12, 255, 12);
    cursor: pointer;
}

td, th {
    padding: 5px;
}

.btn-action {
    font-size: 26px;
    background-color: #587ccb;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 5px;
}

.action-btns {
    display: flex;
    justify-content: center;
    gap: 15px;

}

.btn-action:active {
    background-color: #ffffff;
}

nav {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.go-to-main-page {
    
    background-color: #ffffff;
    color: #000000;
}

@media screen and (max-width: 425px) {
    .logo {
        display: block;
        width: 81.5px;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        display: block;
        width: 81.5px;
    }
}

@media screen and (max-width: 1224px) {
    .logo {
        display: block;
        width: 81.5px;
    }
}

@media screen and (max-width: 1824px) {
    .logo {
        display: block;
        width: 81.5px;
    }
}
.btn-actioni {
   background-color: #352323;
   color: #fff;
   font-weight: 700;
   padding: 7px;
   margin-bottom: 10px;
}

.btn-actioni:hover {
    border: 2px solid #636363;
}


.btn-actioni:active {
    background-color: #00fa00;

}